# Define la red personalizada
networks:
  so_network:

services:
  # Servicio de la aplicación web Node.js
  web1:
    image: web-img
    build: ./web
    pull_policy: never
    hostname: web1
    restart: unless-stopped
    depends_on:
      - redis
    networks:
      - so_network
  web2:
    image: web-img
    pull_policy: never
    hostname: web2
    restart: unless-stopped
    depends_on:
      - redis
    networks:
      - so_network

  # Servicio de Redis
  redis:
    image: "redis:8.2-alpine"
    hostname: redis
    restart: unless-stopped
    # Comando para iniciar redis con persistencia
    # Guardar cada 60 segundos si hubo al menos una operación de escritura en ese plazo
    command: redis-server --save 60 1
    networks:
      - so_network

  # Servicio de Nginx como balanceador de carga
  balanceador:
    image: nginx-img
    build: ./nginx
    pull_policy: never
    hostname: balanceador
    restart: unless-stopped
    # Mapea el puerto 8080 del host al 80 del contenedor
    ports:
      - "8080:80"
    depends_on:
      - web1
      - web2
    networks:
      - so_network
